@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black-text: #302f37;
  --primery-black:#302f37;
  --default-border-color: #302f371a;
  --color-primary: #009dff;
  --bg-primary: #009dff;
  --blue: #009dff;
  --blue-hover: #3d8bde;
  --blue-text: #2eacfb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  color: #302f37;
  font-family: Arial, Helvetica, sans-serif;
}


.logo {
  font-family: 'Luckiest Guy', cursive;
  color: var(--color-primary);
  font-size: 2.5rem;
  user-select: none;
}

.black-text {
  color: #302f37;
}

